.nav-item {
  font-weight: 400;
}

.nav-item:hover {
  font-weight: 700;
  cursor: pointer;
}

#chart-container {
  text-align: center;
  /*overflow: scroll;*/
}

.body-header {
  background-color: #52527a;
  height: 100px;
  color: white;
  border-radius: 5px;
}

.background {
  fill-opacity: 0;
  color: black;
}

#menu-toggle {
  text-align: left;
  cursor: pointer;
  font-weight: 400;
}

#menu-toggle:hover {
  font-weight: 700;
}

.btn:hover {
  font-weight: 700;
}
